In [1]:
# Spark Session
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Spark SQL")
    .master("local[*]")
    .enableHiveSupport()
    .config("spark.sql.warehouse.dir", "/data/output/spark-warehouse")
    .getOrCreate()
)

spark

In [9]:
# Read Employee data
_schema = "first_name string, last_name string, job_title string, dob string, email string, phone string, salary double, department_id int"

emp = spark.read.format("csv").schema(_schema).option("header", True).load("/data/input/employee_records_skewed.csv")

In [10]:
# Read DEPT CSV data
_dept_schema = "department_id int, department_name string, description string, city string, state string, country string"

dept = spark.read.format("csv").schema(_dept_schema).option("header", True).load("/data/input/department_data.csv")

In [2]:
# Spark Catalog (Metadata) - in-memory/hive

spark.conf.get("spark.sql.catalogImplementation")

'hive'

In [3]:
# Show databases
db = spark.sql("show databases")
db.show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [4]:
spark.sql("show tables in default").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default|emp_final|      false|
+---------+---------+-----------+

In [12]:
# Register dataframes are temp views

emp.createOrReplaceTempView("emp_view")

dept.createOrReplaceTempView("dept_view")

In [ ]:
# Show tables/view in catalog

In [16]:
# View data from table

emp_filtered = spark.sql("""
    select * from emp_view
    where department_id = 1
""")

In [17]:
emp_filtered.show()

+-----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+
| first_name| last_name|           job_title|       dob|               email|               phone|  salary|department_id|
+-----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+
|       Carl|  Peterson|         Proofreader|1984-11-23|andrew20@example.net|   241-871-9102x3835|287728.0|            1|
|   Kristina|    Martin|       IT consultant|1964-02-23|autumn05@example.com|       (625)327-0615|563768.0|            1|
|   Benjamin|     Lopez|Agricultural engi...|1966-01-20|  ryan46@example.org| +1-256-376-8069x339|891725.0|            1|
|     Leslie| Rodriguez|Horticulturist, c...|1973-06-16|thomassutton@exam...|001-630-539-4136x...|875940.0|            1|
|     Angela|    Martin|   Company secretary|1979-07-07| qholmes@example.org|001-267-831-8987x...|485302.0|            1|
|      Julia|     Gomez|       Advice worker|1963-03-02|xjackson@example.net|        495-667-0287| 59589.0|            1|
|     Jeremy|      Hunt|Radiation protect...|1987-12-06|moraeric@example.net|          6276248675|199026.0|            1|
|      Alice|      Rice|Advertising art d...|1964-04-03|   amy82@example.net|          2208895255|967862.0|            1|
|    Clinton|Cunningham|Designer, exhibit...|1984-07-22|margaret29@exampl...|   (526)879-8418x297|660617.0|            1|
|      Susan|      Ford|Geographical info...|1985-05-06|sherrirobinson@ex...|       (734)226-1079|991902.0|            1|
|    Gregory|   Stevens|Engineer, buildin...|1997-11-17|  sgreen@example.org|        676-481-8023|986664.0|            1|
|    Shannon|     Bowen|Industrial/produc...|1973-05-07| gharris@example.com|   (891)559-1318x860|201522.0|            1|
|      Dylan|  Sullivan|Television camera...|1999-06-23|michaelallison@ex...|001-757-795-1822x...|715727.0|            1|
|Christopher|    Lozano|Database administ...|1979-03-15|thernandez@exampl...| (465)990-3733x09035|441011.0|            1|
|    William|      Pope|            Best boy|1983-05-07|jillianmorrison@e...|        303.475.9516|632646.0|            1|
|      Kevin|     Brown|    Engineer, mining|1965-09-26|williamroy@exampl...|+1-771-254-4086x1...| 61066.0|            1|
|   Michaela|  Mckinney|Teacher, English ...|1997-10-04| brian65@example.net|001-384-754-4223x...|750122.0|            1|
|     Pamela|       Lee|                Land|1974-04-28|bartonangela@exam...|001-226-781-4414x...|157355.0|            1|
|     Robert|     Davis|Museum education ...|1965-12-31|savagesamantha@ex...|    001-487-554-6158|833494.0|            1|
|     Jeremy|   Alvarez|        Tour manager|1998-11-04|kelleybrittany@ex...|+1-960-957-6641x9...| 84979.0|            1|
+-----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+
only showing top 20 rows

In [21]:
# Create a new column dob_year and register as temp view

emp_temp = spark.sql("""
    select e.*, date_format(dob, 'yyyy') as dob_year from emp_view e
""")

In [22]:
emp_temp.createOrReplaceTempView("emp_temp_view")

In [24]:
spark.sql("select * from emp_temp_view").show()

+----------+---------+--------------------+----------+--------------------+--------------------+--------+-------------+--------+
|first_name|last_name|           job_title|       dob|               email|               phone|  salary|department_id|dob_year|
+----------+---------+--------------------+----------+--------------------+--------------------+--------+-------------+--------+
|  Samantha|    Brown|Diagnostic radiog...|1966-06-11| jwatson@example.com|       (428)806-5154|439679.0|            3|    1966|
|    Justin|Castaneda|Human resources o...|1996-11-11|  sdavis@example.org|    001-581-642-9621| 97388.0|            4|    1996|
|      Carl| Peterson|         Proofreader|1984-11-23|andrew20@example.net|   241-871-9102x3835|287728.0|            1|    1984|
| Catherine|     Lane|    Location manager|1966-06-21|elizabethalexande...|   470.866.4415x0739|174151.0|            3|    1966|
|     Aaron|  Delgado|Teacher, secondar...|1972-10-11|uwilliams@example...|   384.336.5759x4831|209013.0|            8|    1972|
|  Michelle|     Hill|Customer service ...|1984-01-15|antoniojoseph@exa...|    368.485.0685x793|764126.0|            8|    1984|
|  Kristina|   Martin|       IT consultant|1964-02-23|autumn05@example.com|       (625)327-0615|563768.0|            1|    1964|
|     Carol|  Nichols|      Phytotherapist|1969-02-14|crawfordsarah@exa...|  422-490-1069x38089|156689.0|           10|    1969|
|     Peter|     Hill|      Cytogeneticist|1964-09-23|   xholt@example.org|        935.573.8160|957436.0|            5|    1964|
|  Benjamin|    Lopez|Agricultural engi...|1966-01-20|  ryan46@example.org| +1-256-376-8069x339|891725.0|            1|    1966|
|     Susan|   Savage|Optician, dispensing|1996-07-27|taylorjoshua@exam...| +1-393-821-5515x816|198396.0|            6|    1996|
|    Robert|      Cox|Occupational ther...|1993-06-27|anthony00@example...|          8008487748|907659.0|            3|    1993|
|      Evan|    Terry|Local government ...|1982-01-03|srodriguez@exampl...|        220-913-4625|693419.0|            5|    1982|
|    Justin| Santiago|                Make|1965-03-20| birdjoe@example.org|        801-317-7926|815251.0|            7|    1965|
|      Rose|  Gregory|           Barrister|1974-10-31|samuel27@example.net|        923-304-9438|673811.0|            2|    1974|
|  Nicholas|    Short|  Charity fundraiser|1998-10-03| brian12@example.com|        855.973.7301|538901.0|            4|    1998|
|      John|   Hanson|Lecturer, higher ...|2001-04-12|  zweiss@example.org|       (453)740-2558|247223.0|            7|    2001|
|     Bryan|   Turner|Public relations ...|1984-01-30|  ssmith@example.com|  426.547.0413x20201|286799.0|            6|    1984|
|     Tonya|  Schultz|Contracting civil...|1982-05-07|douglas54@example...|        578-916-7661|664105.0|            4|    1982|
|  Patricia| Anderson|        Set designer|1974-09-22|joshua92@example.net|001-765-729-3973x...|439446.0|            2|    1974|
+----------+---------+--------------------+----------+--------------------+--------------------+--------+-------------+--------+
only showing top 20 rows

In [13]:
# Join emp and dept - HINTs

emp_final = spark.sql("""
    select /*+ BROADCAST(d) */
    e.* , d.department_name
    from emp_view e left outer join dept_view d
    on e.department_id = d.department_id
""")

In [9]:
# Show emp data

emp_final.show()

+----------+---------+--------------------+----------+--------------------+--------------------+--------+-------------+--------------------+
|first_name|last_name|           job_title|       dob|               email|               phone|  salary|department_id|     department_name|
+----------+---------+--------------------+----------+--------------------+--------------------+--------+-------------+--------------------+
|  Samantha|    Brown|Diagnostic radiog...|1966-06-11| jwatson@example.com|       (428)806-5154|439679.0|            3|Pittman, Hess and...|
|    Justin|Castaneda|Human resources o...|1996-11-11|  sdavis@example.org|    001-581-642-9621| 97388.0|            4|Smith, Snyder and...|
|      Carl| Peterson|         Proofreader|1984-11-23|andrew20@example.net|   241-871-9102x3835|287728.0|            1|         Bryan-James|
| Catherine|     Lane|    Location manager|1966-06-21|elizabethalexande...|   470.866.4415x0739|174151.0|            3|Pittman, Hess and...|
|     Aaron|  Delgado|Teacher, secondar...|1972-10-11|uwilliams@example...|   384.336.5759x4831|209013.0|            8|          Parker PLC|
|  Michelle|     Hill|Customer service ...|1984-01-15|antoniojoseph@exa...|    368.485.0685x793|764126.0|            8|          Parker PLC|
|  Kristina|   Martin|       IT consultant|1964-02-23|autumn05@example.com|       (625)327-0615|563768.0|            1|         Bryan-James|
|     Carol|  Nichols|      Phytotherapist|1969-02-14|crawfordsarah@exa...|  422-490-1069x38089|156689.0|           10|      Delgado-Keller|
|     Peter|     Hill|      Cytogeneticist|1964-09-23|   xholt@example.org|        935.573.8160|957436.0|            5|          Hardin Inc|
|  Benjamin|    Lopez|Agricultural engi...|1966-01-20|  ryan46@example.org| +1-256-376-8069x339|891725.0|            1|         Bryan-James|
|     Susan|   Savage|Optician, dispensing|1996-07-27|taylorjoshua@exam...| +1-393-821-5515x816|198396.0|            6|         Sanders LLC|
|    Robert|      Cox|Occupational ther...|1993-06-27|anthony00@example...|          8008487748|907659.0|            3|Pittman, Hess and...|
|      Evan|    Terry|Local government ...|1982-01-03|srodriguez@exampl...|        220-913-4625|693419.0|            5|          Hardin Inc|
|    Justin| Santiago|                Make|1965-03-20| birdjoe@example.org|        801-317-7926|815251.0|            7|         Ward-Gordon|
|      Rose|  Gregory|           Barrister|1974-10-31|samuel27@example.net|        923-304-9438|673811.0|            2|Smith, Craig and ...|
|  Nicholas|    Short|  Charity fundraiser|1998-10-03| brian12@example.com|        855.973.7301|538901.0|            4|Smith, Snyder and...|
|      John|   Hanson|Lecturer, higher ...|2001-04-12|  zweiss@example.org|       (453)740-2558|247223.0|            7|         Ward-Gordon|
|     Bryan|   Turner|Public relations ...|1984-01-30|  ssmith@example.com|  426.547.0413x20201|286799.0|            6|         Sanders LLC|
|     Tonya|  Schultz|Contracting civil...|1982-05-07|douglas54@example...|        578-916-7661|664105.0|            4|Smith, Snyder and...|
|  Patricia| Anderson|        Set designer|1974-09-22|joshua92@example.net|001-765-729-3973x...|439446.0|            2|Smith, Craig and ...|
+----------+---------+--------------------+----------+--------------------+--------------------+--------+-------------+--------------------+
only showing top 20 rows

In [14]:
# Write the data as Table

emp_final.write.format("parquet").saveAsTable("emp_final")

In [5]:
# Read the data from Table

emp_new = spark.sql("select * from emp_final")

In [6]:
emp_new.show()

+----------+---------+--------------------+----------+--------------------+--------------------+--------+-------------+--------------------+
|first_name|last_name|           job_title|       dob|               email|               phone|  salary|department_id|     department_name|
+----------+---------+--------------------+----------+--------------------+--------------------+--------+-------------+--------------------+
|  Samantha|    Brown|Diagnostic radiog...|1966-06-11| jwatson@example.com|       (428)806-5154|439679.0|            3|Pittman, Hess and...|
|    Justin|Castaneda|Human resources o...|1996-11-11|  sdavis@example.org|    001-581-642-9621| 97388.0|            4|Smith, Snyder and...|
|      Carl| Peterson|         Proofreader|1984-11-23|andrew20@example.net|   241-871-9102x3835|287728.0|            1|         Bryan-James|
| Catherine|     Lane|    Location manager|1966-06-21|elizabethalexande...|   470.866.4415x0739|174151.0|            3|Pittman, Hess and...|
|     Aaron|  Delgado|Teacher, secondar...|1972-10-11|uwilliams@example...|   384.336.5759x4831|209013.0|            8|          Parker PLC|
|  Michelle|     Hill|Customer service ...|1984-01-15|antoniojoseph@exa...|    368.485.0685x793|764126.0|            8|          Parker PLC|
|  Kristina|   Martin|       IT consultant|1964-02-23|autumn05@example.com|       (625)327-0615|563768.0|            1|         Bryan-James|
|     Carol|  Nichols|      Phytotherapist|1969-02-14|crawfordsarah@exa...|  422-490-1069x38089|156689.0|           10|      Delgado-Keller|
|     Peter|     Hill|      Cytogeneticist|1964-09-23|   xholt@example.org|        935.573.8160|957436.0|            5|          Hardin Inc|
|  Benjamin|    Lopez|Agricultural engi...|1966-01-20|  ryan46@example.org| +1-256-376-8069x339|891725.0|            1|         Bryan-James|
|     Susan|   Savage|Optician, dispensing|1996-07-27|taylorjoshua@exam...| +1-393-821-5515x816|198396.0|            6|         Sanders LLC|
|    Robert|      Cox|Occupational ther...|1993-06-27|anthony00@example...|          8008487748|907659.0|            3|Pittman, Hess and...|
|      Evan|    Terry|Local government ...|1982-01-03|srodriguez@exampl...|        220-913-4625|693419.0|            5|          Hardin Inc|
|    Justin| Santiago|                Make|1965-03-20| birdjoe@example.org|        801-317-7926|815251.0|            7|         Ward-Gordon|
|      Rose|  Gregory|           Barrister|1974-10-31|samuel27@example.net|        923-304-9438|673811.0|            2|Smith, Craig and ...|
|  Nicholas|    Short|  Charity fundraiser|1998-10-03| brian12@example.com|        855.973.7301|538901.0|            4|Smith, Snyder and...|
|      John|   Hanson|Lecturer, higher ...|2001-04-12|  zweiss@example.org|       (453)740-2558|247223.0|            7|         Ward-Gordon|
|     Bryan|   Turner|Public relations ...|1984-01-30|  ssmith@example.com|  426.547.0413x20201|286799.0|            6|         Sanders LLC|
|     Tonya|  Schultz|Contracting civil...|1982-05-07|douglas54@example...|        578-916-7661|664105.0|            4|Smith, Snyder and...|
|  Patricia| Anderson|        Set designer|1974-09-22|joshua92@example.net|001-765-729-3973x...|439446.0|            2|Smith, Craig and ...|
+----------+---------+--------------------+----------+--------------------+--------------------+--------+-------------+--------------------+
only showing top 20 rows

In [ ]:
# Persist metadata

In [8]:
# Show details of metadata

spark.sql("describe extended emp_final").show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|          first_name|              string|   null|
|           last_name|              string|   null|
|           job_title|              string|   null|
|                 dob|              string|   null|
|               email|              string|   null|
|               phone|              string|   null|
|              salary|              double|   null|
|       department_id|                 int|   null|
|     department_name|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|             default|       |
|               Table|           emp_final|       |
|               Owner|                root|       |
|        Created Time|Sat Jan 06 10:03:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.3.0|       |
|                Type|             MANAGED|       |
|            Provider|             parquet|       |
|          Statistics|      37700526 bytes|       |
+--------------------+--------------------+-------+
only showing top 20 rows